# Storage
S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# Application constants
HEALTHCHECK_ENDPOINT=
MAX_FAILED_TRIES=10
ARCHIVE_SIZE_LIMIT=100
FETCH_TIMEOUT_MS=10_000

# API-facing constants
API_ENDPOINT=""
USER_AGENT="Network Route Optimization Project (https://github.com/rojikaru/route-optimization)"